# EDA of Diabetics Data

- First Step to load data frame
- Second Step to create Dictionary to converge into one dataset. This will make reading the inital dataset a little easier.

In [6]:
#Libraries to load
import pandas as pd
import csv

In [3]:
df = pd.read_csv('../data/diabetic_data.csv', index_col=0, parse_dates=True)
df

,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
encounter_id,,,,,,,,,,,,,,,,,,,,,
2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,...,No,No,No,No,No,No,No,No,No,NO
149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443847548,100162476,AfricanAmerican,Male,[70-80),?,1,3,7,3,MC,...,No,Down,No,No,No,No,No,Ch,Yes,>30
443847782,74694222,AfricanAmerican,Female,[80-90),?,1,4,5,5,MC,...,No,Steady,No,No,No,No,No,No,Yes,NO
443854148,41088789,Caucasian,Male,[70-80),?,1,1,7,1,MC,...,No,Down,No,No,No,No,No,Ch,Yes,NO
443857166,31693671,Caucasian,Female,[80-90),?,2,3,7,10,MC,...,No,Up,No,No,No,No,No,Ch,Yes,NO
443867222,175429310,Caucasian,Male,[70-80),?,1,1,7,6,?,...,No,No,No,No,No,No,No,No,No,NO

In [12]:
df_ID = pd.read_csv('../data/IDs_mapping.csv', index_col=0, parse_dates=True)
df_ID[12:30]

                                                         description
admission_type_id
3                                      Discharged/transferred to SNF
4                                      Discharged/transferred to ICF
5                  Discharged/transferred to another type of inpa...
6                  Discharged/transferred to home with home healt...
7                                                           Left AMA
8                  Discharged/transferred to home under care of H...
9                          Admitted as an inpatient to this hospital
10                 Neonate discharged to another hospital for neo...
11                                                           Expired
12                 Still patient or expected to return for outpat...
13                                                    Hospice / home
14                                        Hospice / medical facility
15                 Discharged/transferred within this institution...
16                 Discharged/transferred/referred another instit...
17                 Discharged/transferred/referred to this instit...
18                                                               NaN
19                          Expired at home. Medicaid only, hospice.
20                 Expired in a medical facility. Medicaid only, ...

In [8]:
a_csv_file = open('../data/IDs_mapping.csv', "r")
dict_reader = csv.DictReader(a_csv_file)

ordered_dict_from_csv = list(dict_reader)[0]
dict_from_csv = dict(ordered_dict_from_csv)

print(dict_from_csv)

{'admission_type_id': '1', 'description': 'Emergency'}